/*style.css*/
p, 
#reb {
    display: block;
    border: 4px solid rebeccapurple;
    margin: 10px;
    padding: 1%;
}
ul {
    display: flex;
    border: 4px solid rebeccapurple;
    margin: 2px;
    padding: 1%;
}

ul li {
    display: block;
    border: 2px solid lightskyblue;
}
span {
    display: block;
    border: 2px solid lightskyblue;
}